body {
    margin: 0;
}

.header {
    background-color: rgb(1, 1, 95);
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    color: white;
}

.title {
    background-color:  rgb(1, 1, 95);
    display: flex;
    justify-content: center;
    padding: 100px;
    color: white;
    gap: 150px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.card {
    height: 150px;
    width: 250px;
    border: darkblue solid;
}

.quote {
    background-color:lightgrey;
    padding: 100px 150px;
    font-size: 26px;
}

.banner {
    background-color: blue;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px 100px;
    color: white;
    border-radius: 15px;
}

.footer {
    background-color: darkblue;
    font-size: 26px;
    color: white;
    text-align: center;
    padding: 40px;
}

a {
    color: white;
}

ul {
    list-style-type: none;
    color: white;
    display: flex;
    gap: 50px;
    margin: 0;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

img {
    max-width: 500px;
    border-radius: 30px;
}

.container img {
    width: 400px;
    height: 250px;
    flex: 1 1 100%;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    gap: 50px;
}

button {
    padding: 8px 16px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 8px;
}

.action {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    gap: 10px;
}
